# Data Wrangling

Performed data wrangling and cleaning.

Original data = 1,074 rows

Cleaned data = 1,045 rows (2,974 exploded rows)

In [5]:
import pandas as pd
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)

In [6]:
# Import Data

df = pd.read_csv('Unicorn_Companies.csv')

In [7]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
dtypes: int64(1), object(9)
memory usage: 46.2+ KB

In [9]:
# Remove rows with missing values (Removed = 17 rows)

df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1057 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1057 non-null   object
 1   Valuation         1057 non-null   object
 2   Date Joined       1057 non-null   object
 3   Industry          1057 non-null   object
 4   City              1057 non-null   object
 5   Country           1057 non-null   object
 6   Continent         1057 non-null   object
 7   Year Founded      1057 non-null   int64
 8   Funding           1057 non-null   object
 9   Select Investors  1057 non-null   object
dtypes: int64(1), object(9)
memory usage: 53.7+ KB

In [10]:
# Remove `"$"` and `"B"` from `Valuation` and `Funding` and cast as float

df["Valuation"] = (df["Valuation"]
    .str.replace("$", "")
    .str.replace("B", "000000000")
    .astype(float)
)

df["Valuation"].head(5)

0    1.800000e+11
1    1.000000e+11
2    1.000000e+11
3    9.500000e+10
4    4.600000e+10
Name: Valuation, dtype: float64

In [12]:
# Check for non-numerical values

df["Funding"].value_counts()

Funding
$1B        59
$2B        29
$200M      12
Unknown    12
$4B         9
           ..
$536M       1
$19M        1
$946M       1
$180M       1
$620M       1
Name: count, Length: 533, dtype: int64

In [13]:
# Exclude rows with `"Unknown"` `Funding` values (Removed = 12 rows)

df = df[df["Funding"] != "Unknown"]
df.shape

(1045, 10)

In [14]:
# Remove "$" and "B" and cast "Funding" as float

df["Funding"] = (df["Funding"]
    .str.replace("$", "")
    .str.replace("B", "000000000")
    .str.replace("M", "000000")
    .astype(float)
)

df["Funding"].head(5)

0    8.000000e+09
1    7.000000e+09
2    2.000000e+09
3    2.000000e+09
4    4.000000e+09
Name: Funding, dtype: float64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1045 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1045 non-null   object
 1   Valuation         1045 non-null   float64
 2   Date Joined       1045 non-null   object
 3   Industry          1045 non-null   object
 4   City              1045 non-null   object
 5   Country           1045 non-null   object
 6   Continent         1045 non-null   object
 7   Year Founded      1045 non-null   int64
 8   Funding           1045 non-null   float64
 9   Select Investors  1045 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 61.2+ KB

In [16]:
df["Select Investors"].unique()

array(['Sequoia Capital China, SIG Asia Investments, Sina Weibo, Softbank Group',
       'Founders Fund, Draper Fisher Jurvetson, Rothenberg Ventures',
       'Tiger Global Management, Sequoia Capital China, Shunwei Capital Partners',
       ...,
       'Xingwang Investment Management, China Capital Investment Group, Matrix Partners China',
       'IAG Capital Partners, Augmentum Fintech, Northzone Ventures',
       'Novator Partners, True, Causeway Media Partners'], dtype=object)

In [17]:
df["Select Investors"].nunique()

1031

In [18]:
df["Select Investors"].value_counts()

Select Investors
Two Sigma Ventures, Flint Capital, Commerce Ventures                                     2
Greylock Partners, Google Ventures, BlackRock                                            2
General Atlantic                                                                         2
Sequoia Capital                                                                          2
Qualcomm Ventures, Accel, Canaan Partners                                                2
                                                                                        ..
Guozhong Venture Capital Management, Shenzhen Capital Group, Oriental Fortune Capital    1
DeFi Technologies, Hypersphere Ventures, M13                                             1
Octopus Ventures, Munich Re Ventures, CommerzVentures                                    1
Alibaba Group,Co-Stone Venture Capital, Buhuo Venture Capital                            1
Novator Partners, True, Causeway Media Partners                                          1
Name: count, Length: 1031, dtype: int64

In [19]:
# Split investors and convert to list

df["Select Investors"] = df["Select Investors"].str.split(", ")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1045 non-null   object
 1   Valuation         1045 non-null   float64
 2   Date Joined       1045 non-null   object
 3   Industry          1045 non-null   object
 4   City              1045 non-null   object
 5   Country           1045 non-null   object
 6   Continent         1045 non-null   object
 7   Year Founded      1045 non-null   int64
 8   Funding           1045 non-null   float64
 9   Select Investors  1045 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 89.8+ KB

In [20]:
# Explode "Select Investors" to individual list

df = df.explode("Select Investors")
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Sequoia Capital China
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,SIG Asia Investments
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Sina Weibo
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Softbank Group
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,Founders Fund

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2974 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           2974 non-null   object
 1   Valuation         2974 non-null   float64
 2   Date Joined       2974 non-null   object
 3   Industry          2974 non-null   object
 4   City              2974 non-null   object
 5   Country           2974 non-null   object
 6   Continent         2974 non-null   object
 7   Year Founded      2974 non-null   int64
 8   Funding           2974 non-null   float64
 9   Select Investors  2974 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 174.3+ KB

In [21]:
df["Select Investors"].value_counts()

Select Investors
Accel                       59
Tiger Global Management     52
Andreessen Horowitz         52
Insight Partners            46
Sequoia Capital China       45
                            ..
Go-Ventures                  1
Lockheed Martin Ventures     1
GAM Holding                  1
HOF Capital                  1
Causeway Media Partners      1
Name: count, Length: 1235, dtype: int64

In [ ]:
# Import the clean df to folder

df.to_csv("Unicorn+Companies/unicorn_companies_clean.csv", index=False)